a[href^="mailto:"] {
  &::before {
    content: '✉';
  }
}

a[href^="tel:"] {
  &::before {
    content: '✆';
  }
}

/* long version */
a[href^="https://"] {
  &::before {
    content: '→ ';
  }
}

a[href$=".pdf"], a[href$=".mp3"], a[href$=".zip"] {
  &::before {
    content: '↓ ';
  }
}

/* shorter version!
a[href*="//"]:not([href*="mysite.com"]) {
}*/

a {
  color: $light-green;
  footer & {
    color: black;
  }
}